
<mat-table [dataSource]="products$">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name | titlecase}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.category.name | titlecase}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.price | currency:'EUR':'symbol':'0.2':'DE'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="imported">
    <mat-header-cell *matHeaderCellDef>Imported</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.imported}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="tax">
    <mat-header-cell *matHeaderCellDef>Basic Tax</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.category.tax | percent}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef aria-label="row actions"></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-mini-fab color="primary" (click)="addToInvoice(element)">
        <mat-icon >add</mat-icon>
      </button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="tableHeaders"></mat-header-row>
  <mat-row *matRowDef="let row; columns: tableHeaders;"></mat-row>
</mat-table>


